h1 {
	text-align: left;
	color: white;
	font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	}

h2 {
	text-align: left;
	color: white;
	font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
	font-style: bold 8pt 
	}

h3 {
	text-align: left;
	font-size: 14pt;
	font-weight: bold;
	color: #43a2ca;
	font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
  	line-height: 0px;
	}

h3.contents{
			line-height: 2px;
			font-size: 14pt;
			font-weight: bold;
			}

h3.index{
		font-stretch: 60%;
		text-align: center;
		font-size: 18pt;
		font-weight: lighter;
		}

p   {
	color: white;
	text-align: left;
	font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
	font-size: 12pt;
	}

p.mystylesecret{
		text-align: right;
		font-size: 12pt;
		margin: 45px;
		right: 80%;
		}

p.mystyle{
		color: white;
		font-weight: bold;
	    margin: 25px;
		text-align: left;
		line-height: 30px;
		border-top: 2px solid white;
		position: absolute;
		top: 22%;
		}

p.subtitle{
		font-size: 9pt;
		line-height: 3px;
		color:#43a2ca;
		font-weight: normal;
		text-align: left;
		}

p.contents{
		font-size: 9pt;
		color:#43a2ca;
		font-weight: normal;
		text-align: left;
		}

p.contents_white{
		font-size: 9pt;
		color:white;
		font-weight: normal;
		text-align: left;
		}
		
p.contents_titles{
		line-height: 0px;
		text-align: left;
		font-size: 12pt;
		font-weight: bold;
		color:#43a2ca;
		}

		border-top: 1px solid #43a2ca;



a: link {
		font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
		font-style: bold 2pt; 
		}

a.mystyle{
		text-align: center;
		line-height: 95px;
		font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
		margin: 10px;
		font-size: 8pt;
		font-weight: bold;
		color: white;
		text-decoration:none;
		}

a.mystyle-or{
		text-align: center;
		line-height: 120px;
		font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
		margin: 10px;
		font-size: 8pt;
		font-weight: bold;
		color: #43a2ca;
		text-decoration:none;
		}

a.tutorials{
		line-height: 3px;
		text-align: left;
		font-size: 12pt;
		font-weight: bold;
		color:#43a2ca;
		font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
		text-decoration:none;
		}

a.tutorials_small{
		line-height: 3px;
		text-align: right;
		font-size: 9pt;
		font-weight: bold;
		color:#43a2ca;
		font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
		text-decoration:none;
		}

a.tutorials_white{
		line-height: 3px;
		text-align: left;
		font-size: 9pt;
		font-weight: bold;
		color:white;
		font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
		text-decoration:none;
		}

header 	{
		text-align:left; 
		color:black; 
		font: italic 8pt "helvetica"
		} 

span 	{
		text-align: left;
		color: white;
		font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
		font-style: bold 2pt; 
		} 

span.mystyle{
			color: #43a2ca;
			text-align: left;
			font-family: 'Helvetica Header', 'Helvetica', 'Arial', sans-serif;
			font-style: bold 2pt; 
			}